@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  0% {
    transform: scale(1.05);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  background-color: #fff;
  font-family: "Merriweather", serif;
  font-weight: 400;
  line-height: 1.2; }

::selection {
  background-color: #fe9900;
  color: #fff; }

.u-centre-text {
  text-align: center !important; }

.mt-sm {
  margin-top: 2rem !important; }

.mb-sm {
  margin-bottom: 2rem !important; }

.mb-md {
  margin-bottom: 3rem !important; }

.mb-lg {
  margin-bottom: 4rem !important; }

.mb-hg {
  margin-bottom: 8rem !important; }

.mt-hg {
  margin-top: 8rem !important; }

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; }

input[type='color'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
input[type='week'],
select:focus,
textarea {
  font-size: 16px !important; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }
  @media only screen and (max-width: 37.5em) {
    .btn, .btn:link, .btn:visited {
      padding: 1rem 2rem;
      font-size: 1rem; } }
  @media only screen and (max-width: 25em) {
    .btn, .btn:link, .btn:visited {
      padding: 1rem 2rem;
      font-size: 1rem; } }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--orange {
  background-color: #fe9900;
  color: #fff; }

.btn--purple {
  background-color: #7b61ff;
  color: #fff; }

.btn--blue {
  background-color: #4343ef;
  color: #fff; }

.btn--animated {
  animation: moveInBottom 0.75s ease-out;
  animation-fill-mode: backwards; }

.footer {
  background-color: rgba(0, 0, 0, 0.85); }
  .footer_box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); }
  .footer_list {
    padding: 2rem;
    list-style: none; }
  .footer_item:not(:last-child) {
    margin-bottom: 1rem; }
  .footer_header {
    font-size: 1.5rem;
    color: #fe9900; }
  .footer_link, .footer_link:link, .footer_link:visited {
    font-size: 1.2rem;
    text-decoration: none;
    text-transform: capitalize;
    color: #fff; }
  .footer_link:hover {
    color: #7b61ff; }
  .footer_link:active, .footer_link:focus {
    color: #7b61ff; }
  .footer_social {
    font-size: 2rem; }

.header_box {
  padding-top: 10rem;
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  align-items: center; }
  @media only screen and (max-width: 500px) {
    .header_box {
      gap: 3rem;
      justify-items: center; } }

.header_text_box {
  padding: 5rem; }

.header_text {
  font-size: 5rem;
  font-weight: 900; }
  @media only screen and (max-width: 700px) {
    .header_text {
      font-size: 3.5rem; } }
  @media only screen and (max-width: 500px) {
    .header_text {
      font-size: 5rem; } }

.header_paragraph {
  margin-top: 2rem;
  font-size: 2rem; }
  @media only screen and (max-width: 700px) {
    .header_paragraph {
      font-size: 1.5rem; } }

.header_illustration {
  width: 40rem; }
  @media only screen and (max-width: 700px) {
    .header_illustration {
      width: 30rem; } }
  @media only screen and (max-width: 500px) {
    .header_illustration {
      width: 40rem; } }

.header_button {
  padding: 4rem; }

.navbar {
  position: absolute;
  width: 100%;
  padding: 2rem;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transform-origin: right;
  transition: all 0.3s ease-in; }
  @media only screen and (max-width: 600px) {
    .navbar {
      transform: scaleX(0);
      width: 50%;
      top: 0;
      right: 0;
      border-bottom-left-radius: 1rem;
      padding: 4rem;
      position: fixed; } }
  .navbar.clicked {
    transform: scaleX(1); }
  .navbar_icon {
    padding: 1rem;
    border-radius: 1rem;
    z-index: 200;
    position: fixed;
    font-size: 4rem;
    color: #fe9900;
    display: none;
    top: 0.5rem;
    right: 1.5rem;
    transition: all 0.2s ease-in-out; }
    @media only screen and (max-width: 600px) {
      .navbar_icon {
        display: inline-block; } }
    .navbar_icon.clicked {
      color: #000; }
  .navbar_logo {
    z-index: 200;
    width: 20rem;
    position: fixed;
    top: 2rem;
    left: 2.5rem; }
  .navbar_list {
    list-style: none;
    margin-left: auto;
    display: flex;
    justify-content: flex-end; }
    @media only screen and (max-width: 600px) {
      .navbar_list {
        flex-direction: column; } }
  .navbar_item:not(:last-child) {
    margin-right: 2rem; }
    @media only screen and (max-width: 700px) {
      .navbar_item:not(:last-child) {
        margin-right: 1.5rem; } }
    @media only screen and (max-width: 600px) {
      .navbar_item:not(:last-child) {
        margin-bottom: 1.5rem;
        border-bottom: 1px solid #000; } }
  .navbar_link, .navbar_link:link, .navbar_link:visited {
    color: #000;
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.2s;
    font: 700; }
  .navbar_link:hover {
    color: #fe9900; }
  .navbar_link:active, .navbar_link:focus {
    outline: none;
    color: #fe9900; }

.services_section {
  padding: 10rem; }
  @media only screen and (max-width: 500px) {
    .services_section {
      padding: 2rem; } }
  .services_section .services_box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    gap: 2rem;
    align-items: center;
    justify-items: center;
    margin: 2rem; }
  .services_section .services_text {
    text-align: center;
    font-size: 3.5rem; }
  .services_section .services_paragraph {
    padding: 2rem;
    font-size: 2rem; }
  .services_section .services_img {
    border-radius: 1rem;
    width: 40rem; }
  @media only screen and (max-width: 770px) {
    .services_section .services_inverse {
      grid-row: 1/ 2; } }
  .services_section .services_learnmore {
    font-size: 3rem; }
