@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(5rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes pulsate {
  0% {
    transform: scale(1); }
  0% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  background-color: #fff;
  font-family: "Merriweather", serif;
  font-weight: 400;
  line-height: 1.2; }

::selection {
  background-color: #fe9900;
  color: #fff; }

.u-centre-text {
  text-align: center !important; }

.mt-sm {
  margin-top: 2rem !important; }

.mb-sm {
  margin-bottom: 2rem !important; }

.mb-md {
  margin-bottom: 3rem !important; }

.mb-lg {
  margin-bottom: 4rem !important; }

.mb-hg {
  margin-bottom: 8rem !important; }

.mt-hg {
  margin-top: 8rem !important; }

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; }

input[type='color'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
input[type='week'],
select:focus,
textarea {
  font-size: 16px !important; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }
  @media only screen and (max-width: 37.5em) {
    .btn, .btn:link, .btn:visited {
      padding: 1rem 2rem;
      font-size: 1rem; } }
  @media only screen and (max-width: 25em) {
    .btn, .btn:link, .btn:visited {
      padding: 1rem 2rem;
      font-size: 1rem; } }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--orange {
  background-color: #fe9900;
  color: #fff; }

.btn--purple {
  background-color: #7b61ff;
  color: #fff; }

.btn--blue {
  background-color: #4343ef;
  color: #fff; }

.btn--animated {
  animation: moveInBottom 0.75s ease-out;
  animation-fill-mode: backwards; }

.footer {
  background-color: rgba(0, 0, 0, 0.85); }
  .footer_box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); }
  .footer_list {
    padding: 2rem;
    list-style: none; }
  .footer_item:not(:last-child) {
    margin-bottom: 1rem; }
  .footer_header {
    font-size: 1.5rem;
    color: #fe9900; }
  .footer_link, .footer_link:link, .footer_link:visited {
    font-size: 1.2rem;
    text-decoration: none;
    text-transform: capitalize;
    color: #fff; }
  .footer_link:hover {
    color: #7b61ff; }
  .footer_link:active, .footer_link:focus {
    color: #7b61ff; }
  .footer_social {
    font-size: 2rem; }

.header_box {
  padding-top: 10rem;
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  align-items: center; }
  @media only screen and (max-width: 500px) {
    .header_box {
      gap: 3rem;
      justify-items: center; } }

.header_text_box {
  padding: 5rem; }

.header_text {
  font-size: 5rem;
  font-weight: 900; }
  @media only screen and (max-width: 700px) {
    .header_text {
      font-size: 3.5rem; } }
  @media only screen and (max-width: 500px) {
    .header_text {
      font-size: 5rem; } }

.header_paragraph {
  margin-top: 2rem;
  font-size: 2rem; }
  @media only screen and (max-width: 700px) {
    .header_paragraph {
      font-size: 1.5rem; } }

.header_illustration {
  width: 40rem; }
  @media only screen and (max-width: 700px) {
    .header_illustration {
      width: 30rem; } }
  @media only screen and (max-width: 500px) {
    .header_illustration {
      width: 40rem; } }

.header_button {
  padding: 4rem; }

.navbar {
  position: absolute;
  width: 100%;
  padding: 2rem;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transform-origin: right;
  transition: all 0.3s ease-in; }
  @media only screen and (max-width: 600px) {
    .navbar {
      transform: scaleX(0);
      background-color: rgba(0, 0, 0, 0.95);
      width: 65%;
      height: 100%;
      top: 0;
      right: 0;
      border-bottom-left-radius: 1rem;
      padding: 4rem;
      position: fixed; } }
  .navbar.clicked {
    transform: scaleX(1); }
  .navbar_icon {
    padding: 1rem;
    border-radius: 1rem;
    z-index: 200;
    position: fixed;
    font-size: 4rem;
    color: #fe9900;
    display: none;
    top: 0.5rem;
    right: 1.5rem;
    animation: pulsate 2s ease-in-out infinite;
    transition: all 0.2s ease-in-out; }
    @media only screen and (max-width: 600px) {
      .navbar_icon {
        display: inline-block; } }
    .navbar_icon.clicked {
      color: #fff; }
  .navbar_logo {
    z-index: 200;
    width: 20rem;
    position: fixed;
    top: 2rem;
    left: 2.5rem; }
    @media only screen and (max-width: 600px) {
      .navbar_logo {
        z-index: 50; } }
  .navbar_list {
    list-style: none;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    @media only screen and (max-width: 600px) {
      .navbar_list {
        flex-direction: column;
        align-items: flex-end;
        margin-top: 5rem; } }
  .navbar_item:not(:last-child) {
    margin-right: 2rem; }
    @media only screen and (max-width: 600px) {
      .navbar_item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 3.5rem; } }
  .navbar_link, .navbar_link:link, .navbar_link:visited {
    color: #000;
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.2s;
    font: 700; }
    @media only screen and (max-width: 600px) {
      .navbar_link, .navbar_link:link, .navbar_link:visited {
        color: #fff;
        font-size: 3rem; } }
  .navbar_link:hover {
    color: #fe9900; }
  .navbar_link:active, .navbar_link:focus {
    outline: none;
    color: #fe9900; }
  .navbar_img {
    max-width: 5rem;
    border-radius: 50%; }

.services_section {
  padding: 10rem; }
  @media only screen and (max-width: 500px) {
    .services_section {
      padding: 2rem; } }
  .services_section .services_box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    gap: 2rem;
    align-items: center;
    justify-items: center;
    margin: 2rem; }
  .services_section .services_text {
    text-align: center;
    font-size: 3.5rem; }
  .services_section .services_paragraph {
    padding: 2rem;
    font-size: 2rem; }
  .services_section .services_img {
    border-radius: 1rem;
    width: 40rem; }
  @media only screen and (max-width: 770px) {
    .services_section .services_inverse {
      grid-row: 1/ 2; } }
  .services_section .services_learnmore {
    font-size: 3rem; }

.contact {
  padding: 15rem 5rem 0; }
  .contact_header {
    text-align: center;
    font-size: 3.5rem;
    color: #fe9900; }
  .contact_box {
    background-color: #7b61ff;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    border-radius: 1rem;
    padding: 5rem;
    gap: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    align-items: center;
    justify-items: center; }
  .contact_form_group:not(:last-child) {
    margin-bottom: 1.2rem; }
  .contact_form_label {
    font-size: 1.5rem;
    margin: 1.5rem 0; }
  .contact_form_input {
    display: block;
    outline: none;
    overflow: hidden;
    font-size: 16px;
    width: 75%;
    font-family: inherit;
    padding: 0.5rem 2rem;
    border: none; }
    .contact_form_input::-webkit-input-placeholder {
      font-size: 1.2rem; }
    .contact_form_input:focus {
      outline: none; }
  .contact_form_textarea {
    display: block;
    overflow: hidden;
    font-size: 16px;
    font-family: inherit;
    padding: 0.5rem 2rem;
    border: none; }
    .contact_form_textarea:focus {
      outline: none; }
  .contact_form_button {
    color: #fff;
    outline: none;
    border: none;
    font-size: 2rem;
    background-color: #fe9900;
    padding: 1rem 5rem;
    cursor: pointer;
    border-radius: 1rem; }
  .contact_openhours {
    background-color: #fff;
    padding: 5rem;
    border-radius: 1rem; }
    .contact_openhours_day {
      font-size: 3rem;
      color: #7b61ff; }
    .contact_openhours_time {
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 2rem; }
  .contact_details {
    background-color: #fe9900;
    margin-top: 5rem;
    padding: 2rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 3rem; }
    .contact_details_icon {
      color: #fff;
      font-size: 2rem; }
    .contact_details_text {
      color: #fff;
      font-size: 2rem; }

.about-main {
  padding-top: 6rem;
  font-family: "Merriweather", serif; }

.about-header {
  background-image: url(/img/about-image/about-us.jpg);
  background-size: cover;
  height: 60vh;
  justify-content: center; }

.about-header p {
  color: #fff;
  font-size: 20em;
  padding-top: 45px;
  text-align: center; }

.about-details {
  background-color: #fff;
  font-size: 3em; }

.about-details .about-detailsOne {
  padding-top: 2em;
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr; }

.about-details .about-detailsTwo {
  padding-top: 4em;
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr; }

.about-details .about-detailsTwo img {
  margin-left: 50px; }

.about-details .about-detailsThree {
  padding-top: 4em;
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr; }

.about-member {
  margin-top: 15em; }

.about-member p {
  font-size: 4em;
  font-weight: 600;
  text-align: center; }

.about-member .about-memberImages {
  width: 150%;
  text-align: center;
  padding-top: 6em; }

.about-member img {
  padding: 3em 2em; }

.about-subscribe {
  width: 80%;
  padding-top: 5em;
  margin: 0 auto;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 3em;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  padding: 2em 3em; }

.about-subscribe .left {
  text-align: left;
  margin: 0 auto;
  width: 100%; }

.about-subscribe .right {
  position: relative; }

.about-subscribe .right .about-button {
  position: absolute;
  top: 11px;
  right: 10px; }

.about-subscribe .right input {
  padding: 1em;
  width: 100%;
  padding: 1.5em;
  position: relative; }

@media (max-width: 576px) {
  .about-main {
    max-width: 100%;
    overflow: hidden;
    justify-content: center; }
  .about-header {
    padding-top: 1em;
    background-image: url(/img/about-image/about-us.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80%;
    width: 100%;
    justify-content: center; }
  .about-header p {
    color: #fff;
    font-size: 10em;
    font-weight: 700;
    padding-top: 10px;
    text-align: center;
    width: 100%; }
  .about-main .about-details {
    width: 100%;
    margin: 0 auto;
    padding: 1em 2em;
    justify-content: center; }
  .about-details .about-detailsOne {
    padding-top: 2em;
    width: 100%;
    margin: 0 auto;
    display: block; }
  .about-details .about-detailsTwo {
    display: none; }
  .about-details .about-detailsThree {
    padding-top: 4em;
    width: 100%;
    margin: 0 auto;
    display: block; }
  .para {
    text-align: center; }
  .about-detailsOne img, .about-detailsThree img {
    text-align: center;
    border-radius: 10px;
    margin: 0 auto;
    width: 100%; }
  .about-detailsOne p, .about-detailsThree p {
    padding-top: 1em; }
  .about-avatar {
    padding-top: 3em; } }

.faq_main {
  position: relative;
  height: 70vh;
  background-image: linear-gradient(rgba(123, 97, 255, 0.93), rgba(123, 97, 255, 0.93)), url(../img/faq/faq.JPG);
  background-size: cover;
  background-position: center; }
  @media only screen and (max-width: 600px) {
    .faq_main {
      height: 50vh; } }

.faq_text-box {
  padding-top: 1.2rem;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.faq_header {
  font-size: 2rem; }

.faq_text {
  color: #fff;
  font-size: 1.5rem;
  margin-top: 2.5rem; }

.faq_questions {
  padding: 10rem;
  text-align: center; }
  @media only screen and (max-width: 700px) {
    .faq_questions {
      padding: 5rem 1rem; } }

.faq_questions-box {
  position: relative;
  cursor: pointer;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  padding: 1.5rem;
  border-radius: 1.5rem; }
  .faq_questions-box:not(:last-child) {
    margin-bottom: 3rem; }
  .faq_questions-box:hover {
    background-color: rgba(123, 97, 255, 0.3); }

.faq_icon {
  position: absolute;
  font-size: 1.5rem;
  right: 1.2rem;
  top: 0.5rem;
  transition: all 0.3s ease-in-out; }
  .faq_icon.clicked {
    transform: rotate(180deg); }

.faq_question {
  font-size: 1.2rem;
  margin-bottom: 1rem; }

.faq_answer {
  font-size: 1.2rem;
  opacity: 0;
  display: none;
  transition: all 0.3 ease-in; }
  .faq_answer.clicked {
    opacity: 1;
    display: inline-block; }

.signin {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/home/client.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center; }
  .signin_img {
    position: absolute;
    height: 3rem;
    top: 2rem;
    left: 2rem; }
  .signin_box {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem; }
    @media only screen and (max-width: 500px) {
      .signin_box {
        width: 90%; } }
  .signin_header {
    color: #fff;
    font-size: 3.5rem;
    margin-bottom: 2rem; }
  .signin_paragraph {
    color: #fe9900;
    font-size: 1.2rem; }
  .signin_form_group:not(:last-child) {
    margin-bottom: 1.5rem; }
  .signin_form_icon {
    color: #fe9900;
    font-size: 1.5rem;
    margin-right: 1rem; }
  .signin_form_input {
    outline: none;
    overflow: hidden;
    font-size: 16px;
    width: 75%;
    font-family: inherit;
    padding: 0.5rem 2rem;
    border: none;
    border-bottom: 1px solid #999999; }
    .signin_form_input::-webkit-input-placeholder {
      font-size: 1.2rem; }
    .signin_form_input:focus {
      outline: none; }
  .signin_form_checkbox_label {
    color: #fff;
    margin-right: 5rem; }
  .signin_form_submit {
    outline: none;
    border: none;
    color: #fff;
    margin: 1.2rem;
    font-size: 1.5rem;
    padding: 1rem 7rem;
    border-radius: 1.2rem;
    cursor: pointer;
    background-color: #fe9900;
    margin-bottom: 1.2rem;
    display: block; }
  .signin_form_agree {
    text-align: center;
    margin: 1.2rem;
    color: #fff;
    font-size: 1.2rem; }
  .signin_form_link, .signin_form_link:link, .signin_form_link:visited {
    text-decoration: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: #fe9900; }

#nameverify,
#emailverify,
#passverify,
#confirmverify {
  margin-top: 1.2rem;
  margin-left: 2rem;
  font-size: 1.2rem;
  display: block; }

#hide1 {
  cursor: pointer; }

.profile {
  width: 80%;
  margin: 0 auto;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  padding: 10rem 2rem 0; }
  .profile_header {
    display: flex;
    border-bottom: 1px solid #fe9900;
    align-items: center;
    justify-content: center;
    padding: 2rem; }
  .profile_header-box {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    text-transform: capitalize; }
  .profile_img {
    height: 10rem;
    border-radius: 50%; }
  .profile_name {
    font-size: 4rem; }
  .profile_location {
    font-size: 1.5rem;
    color: #fe9900; }
  .profile_details {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    text-transform: capitalize; }
    .profile_details:not(:last-child) {
      margin-bottom: 2rem;
      border-bottom: 1px solid #fe9900; }
  .profile_details-box {
    display: flex;
    align-items: center; }
    .profile_details-box:not(:last-child) {
      margin-bottom: 1.5rem; }
  .profile_icon {
    font-size: 3rem;
    margin-right: 2rem;
    color: rgba(0, 0, 0, 0.85); }
  .profile_link, .profile_link:link, .profile_link:visited {
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    transition: all 0.5s ease-out; }
  .profile_link:active, .profile_link:hover {
    color: #fe9900;
    transform: translateY(-0.2rem); }
