@import 'abstracts/functions';
@import 'abstracts/mixins';
@import 'abstracts/variables';

@import 'base/animations';
@import 'base/base';
@import 'base/typography';
@import 'base/utilities';

@import 'components/button';

@import 'layouts/footer';
@import 'layouts/header';
@import 'layouts/navigation';

@import 'pages/home';
@import 'pages/contact';
@import 'pages/about';
@import 'pages/faq';
@import 'pages/signin';
@import 'pages/signup';
@import 'pages/forgotPass';
@import 'pages/profile';
@import 'pages/categories';
@import 'pages/updateEmailAndPass';
