.btn {
  &,
  &:link,
  &:visited {
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    font-size: $default-font-size;

    @media only screen and (max-width: $bp-small) {
      padding: 1rem 2rem;
      font-size: 1rem;
    }
    @media only screen and (max-width: $bp-smallest) {
      padding: 1rem 2rem;
      font-size: 1rem;
    }

    ///change for <button> element
    border: none;
    cursor: pointer;
  }
  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
  }
  &:active,
  &:focus {
    outline: none;
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }
  &--orange {
    background-color: $color-primary-1;
    color: $color-white;
  }
  &--purple {
    background-color: $color-primary-2;
    color: $color-white;
  }
  &--blue {
    background-color: $color-secondary;
    color: $color-white;
  }

  &--animated {
    animation: moveInBottom 0.75s ease-out;
    animation-fill-mode: backwards;
  }
}
