%heading {
  font-family: $font-display;
  font-weight: 400;
}

.heading-1 {
  @extend %heading;
  font-size: 4.5rem;
  color: $color-black;
  line-height: 1;
  @media only screen and (max-width: $bp-smallest) {
    font-size: 3.5rem;
  }
}
