$color-bad: #ff7730;
$text: 2rem;
$heading: 5rem;
$text-align: center;
.about-main {
  padding-top: 6rem;
  font-family: $font-primary;
}

.about-header {
  background-image: url(/img/about-image/about-us.jpg);
  background-size: cover;
  height: 30vh;
  justify-content: center;
}
.about-header p {
  color: $color-white;
  font-size: 5rem;
  padding-top: 4.5rem;
  text-align: $text-align;
}
.about-details {
  background-color: #fff;
  font-size: $text;
  padding: 2rem;
  @media only screen and (max-width: 430px) {
    padding: 0;
  }
}
.about-details .about-detailsOne {
  padding-top: 2rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  gap: 3rem;
  justify-items: center;
  align-items: center;
  text-align: center;
}
.about-details .about-detailsTwo {
  padding-top: 2rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  gap: 3rem;
  justify-items: center;
  align-items: center;
  text-align: center;
}
.about-details .about-detailsTwo img {
  @media only screen and (max-width: 830px) {
    grid-row: 1/ 2;
  }
}

.about-details .about-detailsThree {
  padding-top: 2rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  gap: 3rem;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.about-member {
  margin-top: 15em;
}

.about-member p {
  font-size: 4em;
  font-weight: 600;
  text-align: center;
}
.about-member .about-memberImages {
  width: 150%;
  text-align: center;
  padding-top: 6em;
}
.about-member img {
  padding: 3em 2em;
}

.about-subscribe {
  width: 80%;
  padding-top: 5em;
  margin: 0 auto;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 3rem;
  font-size: $text;
  box-shadow: $shadow3;
  padding: 2rem;
}

.about-subscribe .left {
  text-align: left;
  margin: 0 auto;
  width: 100%;
}
.about-subscribe .right > form {
  position: relative;
}

.about-subscribe .right .about-button {
  position: absolute;
  top: 50%;
  right: 1.5rem;
  transform: translateY(-50%);
}
.about-subscribe .right input {
  width: 100%;
  padding: 1.5rem;
  position: relative;
  outline: none;
  &::placeholder {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 430px) {
  .about-detailsOne img,
  .about-detailsTwo img,
  .about-detailsThree img {
    margin: 0;
    width: 100%;
  }
}
