$color-bad: #ff7730;
$text: 2rem;
$heading: 5rem;
$text-align: center;
.about-main {
  padding-top: 6rem;
  font-family: $font-primary;
}

.about-header {
  background-image: url(/img/about-image/about-us.jpg);
  background-size: cover;
  height: 30vh;
  justify-content: center;
}
.about-header p {
  color: $color-white;
  font-size: 5rem;
  padding-top: 4.5rem;
  text-align: $text-align;
}
.about-details {
  background-color: #fff;
  font-size: $text;
  padding: 2rem;
}
.about-details .about-detailsOne {
  padding-top: 2rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
  gap: 3rem;
  justify-items: center;
  align-items: center;
}
.about-details .about-detailsTwo {
  padding-top: 2rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
  gap: 3rem;
  justify-items: center;
  align-items: center;
}
.about-details .about-detailsTwo img {
  @media only screen and (max-width: 830px) {
    grid-row: 1/ 2;
  }
}

.about-details .about-detailsThree {
  padding-top: 2rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
  gap: 3rem;
  justify-items: center;
  align-items: center;
}

.about-member {
  // padding: 30em 1em;
  margin-top: 15em;
}

.about-member p {
  font-size: 4em;
  font-weight: 600;
  text-align: center;
}
.about-member .about-memberImages {
  width: 150%;
  text-align: center;
  padding-top: 6em;
}
.about-member img {
  padding: 3em 2em;
}

.about-subscribe {
  width: 80%;
  padding-top: 5em;
  margin: 0 auto;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: $text;
  box-shadow: $shadow3;
  padding: 2em 3em;
}

.about-subscribe .left {
  text-align: left;
  margin: 0 auto;
  width: 100%;
}
.about-subscribe .right {
  position: relative;
}

.about-subscribe .right .about-button {
  position: absolute;
  top: 11px;
  right: 10px;
  // margin-top: -90px;
}
.about-subscribe .right input {
  padding: 1em;
  width: 100%;
  padding: 1.5em;
  position: relative;
}

// @media only screen and (max-width: 430px) {
//   .about-detailsOne img,
//   .about-detailsTwo img,
//   .about-detailsThree img {
//     border-radius: 10px;
//     // margin: 0 auto;
//     width: 100%;
//   }
// }
// @media (max-width: 576px) {
//   .about-main {
//     max-width: 100%;
//     overflow: hidden;
//     justify-content: center;

//     //    text-align: center;
//   }

//   .about-header {
//     padding-top: 1em;
//     background-image: url(/img/about-image/about-us.jpg);
//     background-repeat: no-repeat;
//     // background-color: black;
//     background-size: cover;
//     height: 80%;
//     width: 100%;
//     justify-content: center;
//   }
//   .about-header p {
//     color: $color-white;
//     font-size: 4rem;
//     font-weight: 700;
//     padding-top: 1rem;
//     text-align: $text-align;
//     width: 100%;
//   }

//   .about-main .about-details {
//     width: 100%;
//     margin: 0 auto;
//     padding: 1em 2em;
//     justify-content: center;

//     // margin-left: 30px;
//   }
//   .about-details .about-detailsOne {
//     padding-top: 2em;
//     width: 100%;
//     margin: 0 auto;
//     // display: block;
//   }
//   .about-details .about-detailsTwo {
//     padding-top: 4em;
//     width: 100%;
//     margin: 0 auto;
//     // display: block;
//   }

//   .about-details .about-detailsThree {
//     padding-top: 4em;
//     width: 100%;
//     margin: 0 auto;
//     // display: block;
//   }
//   .para {
//     text-align: center;
//   }
//   .about-detailsOne img,
//   .about-detailsTwo img,
//   .about-detailsThree img {
//     text-align: center;
//     border-radius: 10px;
//     margin: 0 auto;
//     width: 100%;
//   }
//   .about-detailsOne p,
//   .about-detailsThree p {
//     padding-top: 1em;
//   }

//   .about-avatar {
//     padding-top: 3em;
//   }
// }
