.categories {
  width: 80%;
  margin: 0 auto;
  box-shadow: $shadow2;
  padding: 10rem 2rem 0;

  &_form {
    text-align: center;
    margin: 5rem 0;
    &_input {
      width: 60%;
      font-family: inherit;
      border: none;
      font-size: 1rem;
      border-bottom: 1px solid $color-primary-1;
      padding: 1rem 1rem;
      transition: all 0.3s ease-in;

      &:focus {
        border: none;
        outline: none;
        box-shadow: $shadow2;
      }
      &::placeholder {
        font-size: 1.2rem;
      }
    }
    &_button {
      border: none;
      padding: 1.2rem 2rem;
      color: $color-white;
      background-color: $color-primary-1;
      text-transform: capitalize;
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover {
        transform: translateY(-0.2rem);
      }
    }
  }
  &_menu {
    &_header {
      color: $color-primary-1;
      font-size: 3rem;
      text-transform: capitalize;
      text-align: center;
    }
    &_box {
      padding: 2rem;
      display: grid;
      justify-items: center;
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
      gap: 3rem;
    }
    // &_item {
    // }
    &_img {
      width: 20rem;
      border-radius: 1rem;
    }
    &_name {
      font-size: 1.2rem;
    }
  }
}
