.search__results__text {
  color: $color-primary-1;
  padding: 2rem;
}
.search__results {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 3rem;
}

.search__result {
  border: 1px solid $color-primary-1;
  padding: 2rem;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: min-content repeat(2, 1fr);
  &__img {
    grid-column: 1/-1;
    width: 100%;
    padding-bottom: 2rem;
  }
  &__profile {
    width: 5rem;
    border-radius: 50%;
    align-self: center;
  }
  &__service {
    align-self: center;
    justify-self: center;
  }
  &__profile-box {
    align-self: center;
    justify-self: center;
  }
  &__description {
    grid-column: 1 / span 3;
    padding: 1rem 0 3rem;
    font-size: 1.3rem;
  }
  &__rating {
    align-self: center;
  }
  &__price {
    grid-column: 2/-1;
    font-size: 1.4rem;
    color: $color-primary-2;
    justify-self: center;
    align-self: center;
  }
  & i {
    font-size: 2rem;
    color: $color-primary-1;
  }

  & h4 {
    display: inline-block;
    font-size: 1.5rem;
  }
}
