.navbar {
  text-transform: capitalize;
  position: absolute;
  width: 100%;
  padding: 2rem;
  z-index: 100;
  // background-color: rgba($color-black, 0.85);
  background-color: $color-white;
  box-shadow: $shadow2;
  transform-origin: right;
  transition: all 0.3s ease-in;
  @media only screen and (max-width: 600px) {
    transform: scaleX(0);
    background-color: rgba($color-black, 0.95);
    width: 65%;
    height: 100%;
    top: 0;
    right: 0;
    border-bottom-left-radius: 1rem;
    padding: 4rem;
    position: fixed;
  }
  &.clicked {
    transform: scaleX(1);
  }

  &_icon {
    // background-color: $color-secondary;
    padding: 1rem;
    border-radius: 1rem;
    z-index: 200;
    position: fixed;
    font-size: 4rem;
    color: $color-primary-1;
    display: none;
    top: 0.5rem;
    right: 1.5rem;
    animation: pulsate 2s ease-in-out infinite;
    transition: all 0.2s ease-in-out;
    @media only screen and (max-width: 600px) {
      display: inline-block;
    }
    &.clicked {
      color: $color-white;
    }
  }
  &_logo {
    z-index: 200;
    width: 20rem;
    position: fixed;
    top: 2rem;
    left: 2.5rem;
    @media only screen and (max-width: 600px) {
      z-index: 50;
    }
  }
  &_list {
    list-style: none;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @media only screen and (max-width: 600px) {
      flex-direction: column;
      align-items: flex-end;
      margin-top: 5rem;
      // justify-content: stretch;
    }
  }
  &_item {
    &:not(:last-child) {
      margin-right: 2rem;
      // @media only screen and (max-width: 700px) {
      //   margin-right: 0;
      // }
      @media only screen and (max-width: 600px) {
        margin-right: 0;
        margin-bottom: 3.5rem;
        // border-bottom: 1px solid $color-white;
      }
    }
  }
  &_link {
    &,
    &:link,
    &:visited {
      color: $color-black;
      font-size: 1.5rem;
      font-weight: 700;
      text-decoration: none;
      transition: all 0.2s;
      font: 700;
      @media only screen and (max-width: 600px) {
        color: $color-white;
        font-size: 3rem;
      }
    }

    &:hover {
      color: $color-primary-1;
    }

    &:active,
    &:focus {
      outline: none;
      color: $color-primary-1;
    }
  }
  &_img {
    max-width: 5rem;
    border-radius: 50%;
  }
}
